<!DOCTYPE html>
<html lang="en">

<body>
    <script src="~/Content/sb-admin-2/vendor/jquery/jquery.min.js"></script>

    @RenderBody()
    @*<br />
    <div style="text-align:center">
        <a href="~/swagger" target="_blank" class="btn btn-sm btn-success">open swagger</a>
    </div>*@

    <!-- Core plugin JavaScript-->
    <script src="~/Content/sb-admin-2/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>